@model API.Models.Autores

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-top:20px">Detalle Autor</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Consecutivo:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AUCONSECUTIVO)
        </dd>

        <dt>
            Nombre:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AUNOMBRE)
        </dd>

        <dt>
            Fecha de Nacimiento:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AUFECNAC)
        </dd>

        <dt>
            Ciudad de Procedencia:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AUCIUPRO)
        </dd>

        <dt>
            Correo:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AUCORREO)
        </dd>

    </dl>
</div>
<div> @Html.ActionLink("Editar", "Update", "Autores", new { id = Model.AUCONSECUTIVO }, new { @class = "btn btn-primary" })</div>
<div style="margin-top:20px">@Html.ActionLink("Volver", "Index", "Autores", new { area = "" }, new { @class = "nav-link" })</div>
   
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
    
