
@{
    ViewBag.Title = "Autores";
}

<div class="row justify-content-center">

    <div class="col-12 text-center">
        <h2>Autores</h2>
    </div>
    <div class="col-10">
        @Html.ActionLink("Agregar", "Post", "Autores", new { area = "" }, new { @class = "btn btn-primary" })@*<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalAutores">Agregar</button>*@
    </div>
    @*<div class="col-9">
        <input class="form-control form-control-sm" type="text" placeholder="Buscar" />
    </div>*@
    <div class="col-10" style="margin-top: 20px">
        <table class="table table-striped table-bordered table-responsive" style="width:100%!important;" >
            <thead class="table-dark">
                <tr>
                    <th>Consecutivo</th>
                    <th>Nombre</th>
                    <th>Fecha Nacimiento</th>
                    <th>Ciudad de Procedencia</th>
                    <th>Correo</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody class="table-secondary">
                @foreach (var autoresList in Model)
                {
                    <tr>
                        <td>@autoresList.AUCONSECUTIVO</td>
                        <td>@autoresList.AUNOMBRE</td>
                        <td>@autoresList.AUFECNAC</td>
                        <td>@autoresList.AUCIUPRO</td>
                        <td>@autoresList.AUCORREO</td>
                        <td>
                            
                        </td>
                        <td>
                            <button class="btn btn-danger">Eliminar</button>
                        </td>
                    </tr>
                }

            </tbody>

        </table>
    </div>
</div>
